[submodule "external_repos/R-BERT"]
	path = external_repos/R-BERT
	url = https://github.com/mystreamer/R-BERT.git
[submodule "external_repos/direct_parsing_to_sent_graph"]
	path = external_repos/direct_parsing_to_sent_graph
	url = https://github.com/mystreamer/direct_parsing_to_sent_graph.git
[submodule "external_repos/stancer_setup"]
	path = external_repos/stancer_setup
	url = https://gitlab.ifi.uzh.ch/clstancer/stancer_setup.git
[submodule "nb_ba"]
	path = nb_ba
	url = https://github.com/mystreamer/nb_ba.git
[submodule "external_repos/ORLde"]
	path = external_repos/ORLde
	url = https://github.com/mystreamer/ORLde.git
